Repository GCastilho/unip-tcc, pull requests merged in 2019-10, with the labels that each got.

#9 Implementado o protótipo básico da CurrencyApi
  client/package.json
  src/api/currency/common.js
  src/api/currency/currencies/bitcoin.js
  src/api/currency/currencies/index.js
  src/api/currency/currencies/nano.js
  src/api/currency/index.js
  src/api/currency/listener.js
  src/db/models/currencies/bitcoin.js
  src/db/models/currencies/index.js
  src/db/models/currencies/nano.js
  src/db/models/person.js
  src/login.js
  src/register.js
  src/server.js
Labels: API, Cryptocurrency

#11 Implementar code testing
  cfg/dev.env
  cfg/test.env
  client/package-lock.json
  client/src/pages/register/Register.jsx
  package-lock.json
  package.json
  src/currencyApi/common.js
  src/currencyApi/currencies/bitcoin.js
  src/currencyApi/currencies/index.js
  src/currencyApi/currencies/nano.js
  src/currencyApi/index.js
  src/currencyApi/listener.js
  src/db/mongoose.js
  src/index.js
  src/router/index.js
  src/router/login.js
  src/router/register.js
  src/server.js
  tests/api/listener/account_list.test.js
  tests/api/structure.test.js
  tests/cadastro_login/cadastro_login.test.js
  tests/cadastro_login/login_test.js
  tests/cadastro_login/register_test.js
  tests/fixtures/db.js
Labels: code testing

#13 unit test do frontend
  client/package-lock.json
  client/package.json
  client/src/__tests__/index.test.js
  client/src/__tests__/pages/Login.test.js
  client/src/__tests__/pages/Main.test.js
  client/src/__tests__/pages/NotFound.test.js
  client/src/__tests__/pages/Register.test.js
  client/src/index.js
  client/src/pages/notFound/NotFound.jsx
  client/src/pages/register/Register.jsx
  client/src/setupTests.js
Labels: React, code testing

#10 Nano api
  external_modules/nano/db/models/account.js
  external_modules/nano/db/mongoose.js
  external_modules/nano/index.js
  external_modules/nano/nanoWebSocket.js
  external_modules/nano/package-lock.json
  external_modules/nano/package.json
  external_modules/nano/rcp.js
  external_modules/nano/server.js
Labels: API, NANO, enhancement

#16 Implementado create_account na currencyApi
  external_modules/nano/nanoWebSocket.js
  external_modules/nano/rcp.js
  external_modules/nano/rpc.js
  external_modules/nano/server.js
  package-lock.json
  package.json
  src/currencyApi/common.js
  src/currencyApi/currencies/bitcoin.js
  src/currencyApi/currencies/nano.js
  src/currencyApi/index.js
  src/currencyApi/listener/app.js
  src/currencyApi/listener/functions/account_list.js
  src/currencyApi/listener/functions/index.js
  src/currencyApi/listener/index.js
  src/db/models/currencies/bitcoin.js
  src/db/models/currencies/nano.js
  src/router/register.js
  tests/__mocks__/currencyApi.js
  tests/api/listener/account_list.test.js
  tests/api/listener/listener.test.js
  tests/api/structure.test.js
  tests/cadastro_login/cadastro_login.test.js
  tests/cadastro_login/login_test.js
  tests/cadastro_login/register_test.js
  tests/fixtures/db.js
Labels: API, NANO, code testing

#14 Implementado layout inicial da pagina home e o unit tests
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/__tests__/index.test.js
  client/src/__tests__/pages/Login.test.js
  client/src/__tests__/pages/Main.test.js
  client/src/__tests__/pages/NotFound.test.js
  client/src/__tests__/pages/Register.test.js
  client/src/assets/img/imagemTeste.jpg
  client/src/components/Backdrop/Backdrop.css
  client/src/components/Backdrop/Backdrop.jsx
  client/src/components/ErrorMessage/ErrorMessage.css
  client/src/components/ErrorMessage/ErrorMessage.jsx
  client/src/components/Header/Header.css
  client/src/components/Header/Header.jsx
  client/src/components/InputField/InputField.css
  client/src/components/InputField/InputField.jsx
  client/src/components/RoundButton/RoundButton.jsx
  client/src/components/SideDrawer/DrawerToggleButton.css
  client/src/components/SideDrawer/DrawerToggleButton.jsx
  client/src/components/SideDrawer/SideDrawer.css
  client/src/components/SideDrawer/SideDrawer.jsx
  client/src/components/TextButton/TextButton.jsx
  client/src/index.css
  client/src/index.js
  client/src/index.jsx
  client/src/pages/login/Login.css
  client/src/pages/login/Login.jsx
  client/src/pages/main/Main.css
  client/src/pages/main/Main.jsx
  client/src/pages/notFound/NotFound.css
  client/src/pages/notFound/NotFound.jsx
  client/src/pages/register/Register.css
  client/src/pages/register/Register.jsx
  client/src/routes.jsx
  client/src/setupTests.js
  src/router/login.js
Labels: React, code testing, enhancement
