Repository GCastilho/unip-tcc, pull requests merged in 2020-03, with the labels that each got.

#48 Reimplementado code testing
  .eslintrc.json
  cfg/test.env
  client/src/stores/auth.js
  client/src/stores/balances.js
  client/src/utils/transactions.js
  client/src/utils/websocket.js
  external_modules/bitcoin/index.ts
  external_modules/bitcoin/methods/processBlock.ts
  external_modules/bitcoin/methods/processTransaction.ts
  external_modules/bitcoin/methods/rpc.ts
  external_modules/common/db/models/pendingTx.ts
  external_modules/common/index.ts
  external_modules/common/methods/connection.ts
  external_modules/common/methods/informMain.ts
  external_modules/common/methods/withdraw_pending.ts
  external_modules/nano/methods/findMissingTx.ts
  external_modules/nano/methods/nanoWebSocket.ts
  external_modules/nano/methods/processTransaction.ts
  external_modules/nano/utils/unitConverter.ts
  package-lock.json
  package.json
  src/currencyApi/currencies/common/index.ts
  src/currencyApi/currencies/common/methods/connection.ts
  src/currencyApi/currencies/common/methods/create_account.ts
  src/currencyApi/currencies/common/methods/withdraw.ts
  src/currencyApi/index.ts
  src/db/models/checklist.ts
  src/db/models/person/currencies/validators.ts
  src/db/models/person/index.ts
  src/db/models/session.ts
  src/db/models/transaction.ts
  src/index.js
  src/libs/console.extension.ts
  src/libs/decimal128.extension.ts
  src/libs/index.ts
  src/router/login.js
  src/server.js
  src/userApi/index.ts
  src/userApi/user.ts
  src/websocket/connectedUsers.ts
  src/websocket/router/index.ts
  tests/CurrencyApi/receiving-requests.test.ts
  tests/CurrencyApi/sending-requests.test.ts
  tests/libs/decimal128.test.ts
  tests/register-login.test.ts
  tests/user.test.ts
Labels: code testing

#53 Implementado fee no sistema de saque
  client/src/routes/balances/_tableRow/index.svelte
  client/src/routes/balances/_tableRow/withdrawCell.svelte
  client/src/routes/balances/index.svelte
  package.json
  src/currencyApi/currencies/bitcoin.ts
  src/currencyApi/currencies/common/index.ts
  src/currencyApi/currencies/nano.ts
  src/currencyApi/index.ts
  src/db/models/transaction.ts
  src/userApi/user.ts
  src/websocket/router/balances.ts
  tests/CurrencyApi/operations.test.ts
  tests/CurrencyApi/receiving-requests.test.ts
  tests/CurrencyApi/sending-requests.test.ts
Labels: CurrencyApi, Svelte

#51 Implementação da HTTP REST API
  @types/express/index.d.ts
  @types/socket.io/index.d.ts
  package-lock.json
  package.json
  src/libs/index.ts
  src/router/index.js
  src/server.js
  src/server/api/index.ts
  src/server/api/v1/index.ts
  src/server/api/v1/user.ts
  src/server/index.ts
  src/server/root/index.js
  src/server/root/login.js
  src/server/root/register.js
  src/userApi/user.ts
  tests/httpApi/root.test.ts
  tests/httpApi/v1.test.ts
  tsconfig.json
Labels: API, code testing, enhancement

#58 cancelar transaçoes pendentes na external modules
  .github/.gitkeep
  .github/workflows/integration.yml
  @types/express/index.d.ts
  @types/socket.io/index.d.ts
  client/src/routes/balances/_tableRow/index.svelte
  client/src/routes/balances/_tableRow/withdrawCell.svelte
  client/src/routes/balances/index.svelte
  package-lock.json
  package.json
  src/currencyApi/currencies/bitcoin.ts
  src/currencyApi/currencies/common/index.ts
  src/currencyApi/currencies/nano.ts
  src/currencyApi/index.ts
  src/db/models/transaction.ts
  src/libs/index.ts
  src/router/index.js
  src/server.js
  src/server/api/index.ts
  src/server/api/v1/index.ts
  src/server/api/v1/user.ts
  src/server/index.ts
  src/server/root/index.js
  src/server/root/login.js
  src/server/root/register.js
  src/userApi/user.ts
  src/websocket/router/balances.ts
  tests/CurrencyApi/operations.test.ts
  tests/CurrencyApi/receiving-requests.test.ts
  tests/CurrencyApi/sending-requests.test.ts
  tests/httpApi/root.test.ts
  tests/httpApi/v1.test.ts
  tsconfig.json
Labels: Cryptocurrency
