Repository GCastilho/unip-tcc, pull requests merged in 2020-11, with the labels that each got.

#80 Market informar atualizações ao cliente
  .vscode/settings.json
  cfg/dev-db/bootstrap.dockerfile
  cfg/dev-db/docker-compose.yml
  client/package.json
  client/src/components/Nav.svelte
  client/src/routes/_layout.svelte
  client/src/routes/balances/index.svelte
  client/src/routes/login.svelte
  client/src/routes/market/_buySell.svelte
  client/src/routes/market/exchange.svg
  client/src/routes/market/index.svelte
  client/src/routes/register.svelte
  client/src/routes/user/changepass.svelte
  client/src/routes/user/transactions/index.svelte
  client/src/server.js
  client/src/stores/auth.js
  client/src/stores/orderbook.ts
  interfaces/market.d.ts
  package-lock.json
  package.json
  src/db/models/order.ts
  src/db/models/person/balancesOps.ts
  src/db/models/person/currencies/pending.ts
  src/db/models/person/index.ts
  src/db/models/price.ts
  src/db/models/transaction.ts
  src/libs/currencies.ts
  src/marketApi/index.ts
  src/marketApi/market.ts
  src/marketApi/trade.ts
  src/server/api/v1/authentication.ts
  src/server/api/v1/index.ts
  src/server/api/v1/market.ts
  src/server/api/v1/middlewares.ts
  src/server/api/v1/user.ts
  src/server/index.ts
  src/server/socket/connectedUsers.ts
  src/server/socket/emitters.ts
  src/server/socket/index.ts
  tests/httpApi/v1/market/orderbook.test.ts
  tests/libs/currencies.test.ts
  tests/marketApi/basic.test.ts
  tests/marketApi/events.test.ts
  tests/marketApi/integration.test.ts
  tests/marketApi/matching.test.ts
  tests/marketApi/trade.test.ts
  tests/mongodb/order.test.ts
  tests/mongodb/person.balanceOps.test.ts
  tests/mongodb/person.test.ts
  tests/mongodb/price.test.ts
  tests/mongodb/transaction.test.ts
  tsconfig.json
Labels: API, MarketApi

#81 Implementado docker na pipeline de compilação
  .github/workflows/deployment.yml
  cfg/bitcoin.conf
  cfg/docker/Dockerfile
  cfg/docker/bitcoin.yml
  cfg/docker/external.dockerfile
  cfg/docker/frontend.yml
  cfg/docker/main.yml
  cfg/docker/nano.yml
  client/package.json
  client/rollup.config.js
  client/src/server.js
  client/src/utils/axios.js
  external_modules/bitcoin/methods/rpc.ts
  external_modules/bitcoin/package-lock.json
  external_modules/bitcoin/package.json
  external_modules/common/db/mongoose.ts
  external_modules/nano/methods/nanoWebSocket.ts
  external_modules/nano/methods/rpc.ts
  external_modules/nano/package-lock.json
  external_modules/nano/package.json
  package.json
  src/libs/extensions/console.extension.ts
  src/marketApi/index.ts
Labels: Build Pipeline

#78 Market page
  client/package-lock.json
  client/package.json
  client/src/routes/market/_buySell.svelte
  client/src/routes/market/_closeOrders.svelte
  client/src/routes/market/_components/candle.svelte
  client/src/routes/market/_components/depth.svelte
  client/src/routes/market/_components/tableRowCloseOrders.svelte
  client/src/routes/market/_components/tableRowOpenOrders.svelte
  client/src/routes/market/_openOrders.svelte
  client/src/routes/market/index.svelte
  client/src/routes/user/transactions/_tableCell.svelte
  client/src/routes/user/transactions/index.svelte
  client/src/stores/depth.ts
  client/src/stores/marketPrice.ts
  client/src/stores/orderbook.ts
  client/src/stores/prices.ts
  client/src/stores/trades.ts
  client/static/candlestick.css
  interfaces/market.d.ts
  src/db/models/order.ts
  src/db/models/price.ts
  src/db/models/trade.ts
  src/marketApi/index.ts
  src/marketApi/trade.ts
  src/server/api/v1/market.ts
  src/server/socket/index.ts
  tests/mongodb/trade.test.ts
Labels: HttpApi, Svelte
