Repository GCastilho/unip-tcc, pull requests merged in 2020-02, with the labels that each got.

#35 Corrigido um bug no sistema de journaling
  src/currencyApi/currencies/common/methods/connection.ts
Labels: API, bug

#34 Corrigido um bug na implementação do Decimal128
  src/libs/decimal128.extension.ts
Labels: bug, libs

#32 Nano transactions rewind
  external_modules/nano/index.ts
  external_modules/nano/methods/findMissingTx.ts
  external_modules/nano/methods/index.ts
  external_modules/nano/methods/processTransaction.ts
Labels: NANO

#38 Class refactor
  package.json
  src/currencyApi/currencies/common/index.ts
  src/currencyApi/currencies/common/methods/connection.ts
  src/currencyApi/currencies/common/methods/create_account.ts
  src/currencyApi/currencies/common/methods/garbage_collector.ts
  src/currencyApi/currencies/common/methods/index.ts
  src/currencyApi/currencies/common/methods/withdraw.ts
  src/currencyApi/currencyApi.ts
  src/currencyApi/self/create_accounts.ts
  src/currencyApi/self/index.ts
  src/currencyApi/self/withdraw.ts
  src/userApi/findUser.ts
  src/userApi/index.ts
  src/userApi/user.ts
Labels: API, CurrencyApi

#39 Reprojetado a estrutura da Checklist
  src/currencyApi/currencies/common/index.ts
  src/currencyApi/currencies/common/methods/create_account.ts
  src/currencyApi/currencies/common/methods/withdraw.ts
  src/currencyApi/currencyApi.ts
  src/db/models/checklist.ts
  src/db/models/checklist/commands/create_accounts.ts
  src/db/models/checklist/commands/withdraw.ts
  src/db/models/checklist/index.ts
Labels: Refactor

#40 Configurado eslint para o TypeScript
  .eslintignore
  .eslintrc.json
  .vscode/settings.json
  client/.eslintrc.json
  client/src/service-worker.js
  external_modules/bitcoin/methods/processBlock.ts
  external_modules/bitcoin/methods/rpc.ts
  external_modules/bitcoin/package-lock.json
  external_modules/bitcoin/package.json
  external_modules/common/db/models/account.ts
  external_modules/common/db/models/transaction.ts
  external_modules/common/index.ts
  external_modules/common/methods/connection.ts
  external_modules/common/methods/informMain.ts
  external_modules/common/methods/withdraw_pending.ts
  external_modules/common/package-lock.json
  external_modules/common/package.json
  external_modules/nano/methods/Nano.d.ts
  external_modules/nano/methods/findMissingTx.ts
  external_modules/nano/methods/nanoWebSocket.ts
  external_modules/nano/methods/rpc.ts
  external_modules/nano/package-lock.json
  external_modules/nano/package.json
  external_modules/nano/utils/unitConverter.ts
  package-lock.json
  package.json
  src/currencyApi/currencies/common/index.ts
  src/currencyApi/currencies/common/methods/create_account.ts
  src/currencyApi/currencies/common/methods/withdraw.ts
  src/currencyApi/currencyApi.ts
  src/db/models/checklist.ts
  src/db/models/person/currencies/interface.ts
  src/db/models/person/interface.ts
  src/db/models/transaction.ts
  src/libs/decimal128.extension.ts
  src/userApi/user.ts
  src/websocket/globalListeners.ts
  src/websocket/router/index.ts
Labels: Refactor, enhancement

#41 Convertido CurrencyApi para um módulo
  src/currencyApi/currencies/common/methods/connection.ts
  src/currencyApi/currencies/common/methods/withdraw.ts
  src/currencyApi/currencyApi.ts
  src/currencyApi/index.ts
  src/db/models/transaction.ts
  src/userApi/index.ts
  src/userApi/user.ts
  src/websocket/emitters.ts
  src/websocket/globalListeners.ts
  src/websocket/router/balances.ts
Labels: CurrencyApi, Refactor

#42 Refatorado model da Person
  src/currencyApi/index.ts
  src/db/models/person/currencies/generic.ts
  src/db/models/person/currencies/index.ts
  src/db/models/person/currencies/pending.ts
  src/db/models/person/currencies/schemas.ts
  src/db/models/person/currencies/validators.ts
  src/db/models/person/index.ts
  src/db/models/person/interface.ts
  src/db/models/person/schema.ts
  src/db/models/transaction.ts
  src/userApi/index.ts
  src/userApi/user.ts
  src/websocket/globalListeners.ts
Labels: Refactor

#43 Config fix
  .gitignore
  .vscode/settings.json
  client/package-lock.json
  client/package.json
  external_modules/bitcoin/package-lock.json
  external_modules/bitcoin/package.json
  external_modules/nano/.gitignore
  external_modules/nano/package-lock.json
  external_modules/nano/package.json
  package-lock.json
  package.json
Labels: Refactor

#44 Reprojetado o sistema de autenticação
  client/src/components/FancyInput.svelte
  client/src/routes/login.svelte
  client/src/routes/register.svelte
  client/src/utils/axios.js
  src/db/models/cookie.js
  src/db/models/session.ts
  src/router/login.js
  src/userApi/index.ts
  src/websocket/globalListeners.ts
Labels: Refactor

#37 Frontend atualizar saldo com base em transações recebidas
  client/src/client.js
  client/src/components/Nav.svelte
  client/src/routes/balances/_tableRow/index.svelte
  client/src/routes/balances/_tableRow/withdrawCell.svelte
  client/src/routes/balances/index.svelte
  client/src/stores/auth.js
  client/src/stores/balances.js
  client/src/utils/transactions.js
  client/src/utils/websocket.js
  external_modules/bitcoin/methods/processTransaction.ts
  external_modules/bitcoin/methods/rpc.ts
  external_modules/nano/utils/unitConverter.ts
  package-lock.json
  package.json
  src/currencyApi/currencies/common/index.ts
  src/currencyApi/currencies/common/methods/connection.ts
  src/currencyApi/index.ts
  src/db/models/transaction.ts
  src/libs/decimal128.extension.ts
  src/router/login.js
  src/userApi/user.ts
  src/websocket/connectedUsers.ts
  src/websocket/emitters.ts
  src/websocket/globalListeners.ts
  src/websocket/index.ts
  src/websocket/router/index.ts
Labels: CurrencyApi, Svelte, Websocket
