Repository GCastilho/unip-tcc, pull requests merged in 2020-05, with the labels that each got.

#65 Criado rota de login pela API
  client/src/routes/login.svelte
  client/src/server.js
  src/server/api/v1/authentication.ts
  src/server/api/v1/index.ts
  src/server/api/v1/user.ts
  tests/http-requests.test.ts
  tests/httpApi/v1.test.ts
Labels: API

#66 Refatorado testes da CurrencyApi
  src/currencyApi/currencies/common/methods/connection.ts
  src/currencyApi/currencies/common/methods/withdraw.ts
  src/currencyApi/index.ts
  src/db/models/transaction.ts
  src/libs/decimal128.extension.ts
  src/server/api/v1/user.ts
  src/websocket/globalListeners.ts
  tests/CurrencyApi/operations.test.ts
  tests/CurrencyApi/receiving-requests.test.ts
  tests/CurrencyApi/sending-requests.test.ts
  tests/httpApi/v1.test.ts
  tests/libs/decimal128.test.ts
  tests/mongodb/transactions.test.ts
Labels: CurrencyApi, code testing

#55 Local send fix
  external_modules/common/db/models/transaction.ts
  src/currencyApi/currencies/common/index.ts
  src/db/models/transaction.ts
  tests/mongodb/transactions.test.ts
Labels: Cryptocurrency

#68 Refatorado User e Person
  src/db/models/person/currencies/currencySchema.ts
  src/db/models/person/currencies/generic.ts
  src/db/models/person/currencies/index.ts
  src/db/models/person/currencies/pending.ts
  src/db/models/person/currencies/validators.ts
  src/db/models/person/index.ts
  src/server/api/v1/authentication.ts
  src/server/api/v1/user.ts
  src/server/root/login.js
  src/server/root/user.js
  src/userApi/index.ts
  src/userApi/user.ts
  src/websocket/router/balances.ts
  tests/CurrencyApi/receiving-requests.test.ts
  tests/http-requests.test.ts
  tests/httpApi/v1.test.ts
  tests/mongodb/person.test.ts
  tests/mongodb/transaction.test.ts
  tests/user.test.ts
Labels: Refactor

#67 Implementação da HttpApi no frontend
  client/src/routes/balances/_tableRow/index.svelte
  client/src/routes/balances/_tableRow/withdrawCell.svelte
  client/src/routes/balances/index.svelte
  client/src/routes/login.svelte
  client/src/stores/balances.js
  src/currencyApi/currencies/bitcoin.ts
  src/server/api/v1/index.ts
  tests/CurrencyApi/operations.test.ts
Labels: API
